/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    width: 300px;
    height: 550px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.py-1 {
    padding-block: 1em;
}

.py-05 {
    padding-block: 0.5em;
}

.app {
    height: 100%;
    text-align: center;
    padding: 20px;
    background: linear-gradient(0deg, rgba(34,34,195,1) 0%, rgba(167,45,253,1) 100%);
    color: white;
}

.items-detected {
    font-size: large;
    font-weight: bold;
}

.white-card {
    padding: 20px 40px;
    margin-block: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.auto-refresh-text {
    font-size: large;
}

.links a {
    color: white;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
}

code {
    font-size: 12px;
    font-family: inherit;
    background-color: rgba(254, 237, 185, 0.3);
    padding: 2px 4px;
    border-radius: 2px;
}

.counter-label {
    font-size: 12px;
    margin-bottom: 5px;
}

.counter {
    font-size: 36px;
    font-weight: 700;
}

.button-container {
    margin-top: 15px;
}

.button {
    border: 0;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: transform 0.2s ease;
    user-select: none;
}

.button:focus {
    outline: none;
}

.button:hover {
    transform: scale(1.1);
}

.divider {
    margin: 15px auto;
    width: 50px;
    border: 0.5px dashed #ffffff;
    opacity: 0.1;
}




/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
